:root {
  --primary-color: #003637;
  --secondary-color: #f2a283;
  --accent-color-one: #de7403;
  --accent-color-two: #6c3a52;
  /* --accent-color-three:; */
  /* --primary-color:#36333C
    --primary-color:#5C3F30/ */
  /* --primary-color:#C9B793 */
  /* --primary-color:#A36E46 */
  /* 
    Dog one #A36E46
        accent #DFC26C

    Dog two #36333C 
        accent #7D4F57

    Dog three #5C3F30
        accent #43514B

    Dog Four #C9B793
        accent #B59CB9
    */
}

html {
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--primary-color);
  font-family: Helvetica, sans-serif;
}

nav {
  display: flex;
  width: 1600px;
  background-color: var(--accent-color-one);
  border-radius: 8px;
  margin-top: 15px;
}

nav img {
  height: 100px;
}

.main-link,
.links {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.main-link a,
.links a {
  text-decoration: none;
  color: var(--secondary-color);
}

.links {
  grid-gap: 150px;
  margin-left: 50px;
}

.main-link button,
.links button {
  width: 175px;
  height: 30px;
  font-size: 19px;
  background-color: var(--accent-color-two);
  border-radius: 4px;
  border: var(--accent-color-two) 2px solid;
}

button:hover {
  background-color: var(--primary-color);
  border: solid 2px var(--primary-color);
  transition: 0.5s ease;
  border-radius: 4px;
}

#logo img {
  width: 95px;
  height: 85px;
  rotate: -45deg;
  padding-right: 10px;
}

#color-block {
  border: var(--secondary-color) 3px solid;
  border-radius: 2%;
  width: 95px;
  height: 95px;
  background-color: var(--accent-color-two);
  rotate: 45deg;
  margin-left: 50px;
}

.contact-info {
  text-align: center;
  color: var(--secondary-color);
}

.phone-number p {
  color: var(--primary-color);
  border-radius: 5px;
  margin-left: 150px;
  margin-top: 30px;
}

/* 
 =========================
 Main body content section 
 =========================
 */

body {
  display: grid;
}

.background-image img {
  width: 1600px;
  margin-top: -5px;
}

.background-image {
    text-align: left;
}

.mission-statement {
  margin-top: -475px;
  padding-bottom: 350px;
}

.mission-statement h1,
p {
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}

.mission-statement p {
  font-size: 18px;
  margin-top: -30px;
}

.little-about p,
h2 {
  color: var(--secondary-color);
  border-radius: 5px;
  padding: 15px;
}

.little-about h2 {
  text-align: center;
  margin-top: -550px;
  margin-left: 155px;
  background-color: #6c3a52;
  width: 250px;
  font-size: 32px;
  color: var(--secondary-color);
}

.little-about p {
  text-align: center;
  background-color: #6c3a52;
  font-size: 22px;
  margin-left: 100px;
  width: 700px;
}

.little-about img {
  width: 800px;
  opacity: 100%;
  border-radius: 20px;
}

.little-about .img {
  text-align: right;
  position: relative;
  z-index: -1;
  padding-right: 75px;
  margin: 25px;
}

.services {
  margin-bottom: 150px;
}

.services .info {
  margin-left: 800px;
}

.services p,
h2 {
  color: var(--secondary-color);
  border-radius: 5px;
  padding: 15px;
}

.services h2 {
  color: var(--secondary-color);
  text-align: center;
  margin-top: -450px;
  margin-left: 275px;
  background-color: #6c3a52;
  width: 350px;
  font-size: 32px;
}

.services p {
  text-align: center;
  background-color: #6c3a52;
  font-size: 22px;
  width: 700px;
}

.services img {
  width: 800px;
  opacity: 100%;
  border-radius: 20px;
  margin-left: 100px;
}

.services .img {
  margin-top: 200px;
  text-align: left;
  position: relative;
  z-index: -1;
}

/* ############################

        SERVICES PAGE

#############################*/

#content {
  display: grid;
  text-align: center;
}

.promo-picture {
    position:relative;
  margin-top: 50px;
  text-align: right;
  z-index: -1;
}

.promo-picture img {
  width: 500px;
  border-radius: 1rem;
  margin-right: 250px;
  border: 5px solid #fdbd65;
  box-shadow: 10px 10px 3px#aa7428;
}

.package-offered {
  width: 800px;
  margin-left: 250px;
  background-color: var(--accent-color-two);
  z-index: 1;
  border-radius: .5rem;
}
.header {
  margin-top: -230px;
  padding-right: 550px;
  color: var(--secondary-color);
  z-index: 1;
}

/* ############################

        CONTACT PAGE

#############################*/

form {
  z-index: 1;
  /* Center the form on the page */
  margin: 0 auto;
  margin-top: 50px;
  width: 450px;
  height: 600px;
  /* Form outline */
  padding: 100px;
  border: 20px double var(--accent-color-one);
  border-radius: 1em;
  color: #7a81bb;
  /* align-items: center; */
  background-color: #003637;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

input {
  width: 425px;
  padding-bottom: 25px;
}

textarea {
  width: 425px;
  padding-bottom: 50px;
}

input,
textarea {
  font: 22px Helvetica;
  /* Uniform text field size */
  /* width: 425px; */
  border: 2px solid var(--primary-color);
  margin-left: 4px;
  border-radius: 5px;
  background-color: #5c5c5c;
  color: var(--secondary-color);
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border: 2px solid var(--accent-color-two);
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  text-align: center;
}

button {
  background-color: var(--accent-color-two);
  border: var(--accent-color-two) 2px solid;
  border-radius: 5px;
  color: var(--secondary-color);
  width: 250px;
  height: 50px;
  font-size: 25px;
}

#feedback {
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  /* make this element invisible until we are ready for it */
  display: none;
}
.moveDown {
  margin-top: 3em;
}

footer {
  margin-top: 50px;
  background-color: var(--accent-color-one);
  border-radius: 5px;
}

#trademark p {
  color: #003637;
  font-size: 16px;
  border-radius: 5px;
  height: 15px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-links a {
  text-decoration: none;
  color: var(--secondary-color);
}

.footer-links button {
  background-color: var(--accent-color-two);
  border: 3px solid var(--accent-color-two);
  width: 200px;
  font-size: 16px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}

.footer-links button:hover {
  background-color: var(--primary-color);
  border: solid 2px var(--primary-color);
  transition: 0.5s ease;
  border-radius: 4px;
}

.number p {
  color: var(--primary-color);
  width: 150px;
  font-size: 16px;
  height: 15px;
  border-radius: 5px;
}

.addres p {
  color: var(--primary-color);
  font-size: 16px;
  height: 15px;
  border-radius: 5px;
}
