:root {
  --primary-color: #003637;
  --secondary-color: #f2a283;
  --accent-color-one: #de7403;
  --accent-color-two: #6c3a52;
  /* --accent-color-three:; */
  /* --primary-color:#36333C
    --primary-color:#5C3F30/ */
  /* --primary-color:#C9B793 */
  /* --primary-color:#A36E46 */
  /* 
    Dog one #A36E46
        accent #DFC26C

    Dog two #36333C 
        accent #7D4F57

    Dog three #5C3F30
        accent #43514B

    Dog Four #C9B793
        accent #B59CB9
    */
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

html {
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--primary-color);
  /* font-family: 'Roboto', 'Montserrat', sans-serif; */
}
p {
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  width: 1600px;
  background-color: var(--accent-color-one);
  border-radius: 8px;
  margin-top: 15px;
}

.main-link,
.links {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.main-link a,
.links a {
  text-decoration: none;
  color: var(--secondary-color);
}

.links {
  grid-gap: 150px;
  margin-left: 50px;
}

.main-link button,
.links button {
  width: 175px;
  height: 30px;
  font-size: 19px;
  background-color: var(--accent-color-two);
  border-radius: 4px;
  border: var(--accent-color-two) 2px solid;
}

.current-link button {
  background-color: var(--primary-color);
  border: solid 1px transparent;
}

.current-link button:hover {
  border: solid 1px transparent;
  transition: 0.5s;
  background-color: var(--accent-color-two);
}

button:hover {
  background-color: var(--primary-color);
  border: solid 2px var(--primary-color);
  transition: 0.5s ease;
  border-radius: 4px;
}

#logo img {
  width: 95px;
  height: 85px;
  rotate: -45deg;
  padding-right: 10px;
}

#color-block {
  border: var(--secondary-color) 3px solid;
  border-radius: 2%;
  width: 95px;
  height: 95px;
  background-color: var(--accent-color-two);
  rotate: 45deg;
  margin-left: 50px;
}

.contact-info {
  text-align: center;
  color: var(--secondary-color);
}

.phone-number p {
  color: var(--primary-color);
  border-radius: 5px;
  margin-left: 150px;
  margin-top: 30px;
}

/* 
 =========================
 Main body content section 
 =========================
 */

body {
  display: grid;
}

.background-image img {
  width: 1600px;
  margin-top: -5px;
}

.background-image {
  text-align: left;
}

.mission-statement {
  margin-top: -475px;
  padding-bottom: 350px;
}

.mission-statement h1,
p {
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}

.mission-statement p {
  font-size: 18px;
  margin-top: -30px;
}

.little-about p,
h2 {
  color: var(--secondary-color);
  border-radius: 5px;
  padding: 15px;
}

.little-about h2 {
  text-align: center;
  margin-top: -550px;
  margin-left: 155px;
  background-color: #6c3a52;
  width: 250px;
  font-size: 32px;
  color: var(--secondary-color);
}

.little-about p {
  text-align: center;
  background-color: #6c3a52;
  font-size: 22px;
  margin-left: 100px;
  width: 700px;
}

.little-about img {
  width: 800px;
  opacity: 100%;
  border-radius: 20px;
}

.little-about .img {
  text-align: right;
  position: relative;
  z-index: -1;
  padding-right: 75px;
  margin: 25px;
}

.info-wrapper .services {
  margin-bottom: 80px;
}

.info-wrapper .services .info {
  margin-left: 800px;
}

.info-wrapper .services p,
h2 {
  color: var(--secondary-color);
  border-radius: 5px;
  padding: 15px;
}

.info-wrapper .services h2 {
  color: var(--secondary-color);
  text-align: center;
  margin-top: -450px;
  margin-left: 275px;
  background-color: #6c3a52;
  width: 350px;
  font-size: 32px;
}

.info-wrapper .services p {
  text-align: center;
  background-color: #6c3a52;
  font-size: 22px;
  width: 700px;
}

.info-wrapper .services img {
  width: 800px;
  border-radius: 20px;
  margin-left: 100px;
}

.info-wrapper .services .img {
  margin-top: 200px;
  text-align: left;
  position: relative;
  z-index: -1;
}

/* ############################

        SERVICES PAGE

#############################*/

#content {
  display: grid;
  text-align: center;
}

.tabs {
  overflow: hidden;
  margin-top: 10px;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 25px 0 0 100px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: var(--accent-color-two);
}

/* Create an active/current tablink class */
.tabs button.active {
  color: var(--secondary-color);
  background-color: var(--accent-color-two);
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin-top: 10px;
  border-top: none;
  padding-bottom: 2.5rem;
}

.promo-picture {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

.promo-picture img {
  width: 560px;
  height: 400px;
  margin-top: 50px;
  border-radius: 1rem;
  /* margin-right: 250px; */
  border: 5px solid #fdbd65;
  box-shadow: 5px 5px 3px#aa7428;
}

.header {
  margin-top: -300px;
  color: var(--secondary-color);
  width: 60%;
  text-align: center;
}

/* ############################

        CONTACT PAGE

#############################*/

form {
  z-index: 1;
  /* Center the form on the page */
  margin: 0 auto;
  margin-top: 50px;
  width: 450px;
  height: 600px;
  /* Form outline */
  padding: 100px;
  border: 20px double var(--accent-color-one);
  border-radius: 1em;
  color: #7a81bb;
  /* align-items: center; */
  background-color: #003637;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

input {
  width: 425px;
  padding-bottom: 25px;
}

textarea {
  width: 425px;
  padding-bottom: 50px;
}

input,
textarea {
  font: 22px Helvetica;
  border: 2px solid var(--primary-color);
  margin-left: 4px;
  border-radius: 5px;
  background-color: #5c5c5c;
  color: var(--secondary-color);
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border: 2px solid var(--accent-color-two);
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  text-align: center;
}

button {
  background-color: var(--accent-color-two);
  border: var(--accent-color-two) 2px solid;
  border-radius: 5px;
  color: var(--secondary-color);
  width: 250px;
  height: 50px;
  font-size: 25px;
}

#feedback {
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  display: none;
}
.moveDown {
  margin-top: 3em;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 83.5%;
  border-radius: 5px;
  background-color: var(--accent-color-one);
  /* margin-top: 10px; */
}

footer {
  background-color: var(--accent-color-one);
  margin-top: 50px;
}

#trademark p {
  font-size: 16px;
  color: #003637;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-links a {
  text-decoration: none;
  color: var(--secondary-color);
}

.footer-links button {
  background-color: var(--accent-color-two);
  border: 3px solid var(--accent-color-two);
  width: 200px;
  font-size: 16px;
  height: 40px;
  text-align: center;
  margin-top: 15px;
  border-radius: 5px;
}

.footer-links button:hover {
  background-color: var(--primary-color);
  border: solid 2px var(--primary-color);
  transition: 0.5s ease;
  border-radius: 4px;
}

.number p {
  color: var(--primary-color);
  width: 150px;
  font-size: 16px;
  height: 15px;
  border-radius: 5px;
}

.addres p {
  color: var(--primary-color);
  font-size: 16px;
  height: 15px;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  /*================================================= 
    NAV
  =================================================*/
  html {
    width: 500px;
    height: 900px;
  }

  nav {
    width: 480px;
    margin-top: 5px;
    height: 65px;
    border-radius: 4px;
  }

 
  .main-link,
  .links {
    padding: 0px;
    margin: 0px;
  }

  .main-link a,
  .links a {
    font-size: 14px;
  }

  .main-link button,
  .links button {
    width: 100px;
  }

  .links {
    grid-gap: 35px;
    margin: 0px;
    margin-left: 10px;
  }

  .main-link {
    margin-left: 10px;
  }

  #logo img {
    width: 55px;
    height: 45px;
  }

  #color-block {
    width: 55px;
    height: 55px;
    margin-left: 30px;
    margin-right: 25px;
  }

  .contact-info {
    display: none;
  }

  .phone-number {
    display: none;
  }

  /*================================================= 
    Homepage
  =================================================*/

  .background-image img {
    width: 480px;
    height: 175px;
  }

  .mission-statement {
    padding: 0;
    margin-left: 85px;
    margin-top: -175px;
  }

  .mission-statement h1 {
    margin: 0;
    width: 100px;
    font-size: 16px;
    margin-left: 95px;
  }

  .mission-statement p {
    margin: 0;
    font-size: 16px;
    width: 300px;
  }

  .little-about .info h2 {
    width: 126px;
    margin-left: 155px;
    font-size: 16px;
    margin-top: -100px;
  }

  .little-about .info p {
    width: 400px;
    font-size: 14px;
    margin-top: 0;
    margin-left: 25px;
  }

  .little-about .img,
  .services .img {
    padding: 0;
    text-align: left;
    margin: 10px 0px 20px 85px;
  }

  .little-about img {
    width: 300px;
  }

  .info-wrapper .services img {
    width: 300px;
  }

  .services .img {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 100px;
  }

  .services .info h2 {
    width: 126px;
    margin-left: 155px;
    font-size: 16px;
    margin-top: -100px;
  }

  .services .info p {
    width: 400px;
    font-size: 14px;
    margin-top: 0;
    margin-left: 25px;
  }

  .info-wrapper .services h2 {
    margin-top: -175px;
    text-align: center;
    width: 136px;
  }
  .info-wrapper .services {
    margin-bottom: 30px;
  }
  .info-wrapper .services .info {
    margin-left: 0px;
  }

  .info-wrapper .services img {
    width: 301px;
  }

  .info-wrapper .services .img {
    margin-top: 0px;
    margin-left: 0px;
  }

  /*================================================= 
    Services Page
  =================================================*/

  .tabs button {
    width: 100px;
    font-size: 16px;
    padding: 0;
  }

  .tabs {
    margin: 10px 0 0 0;
    padding: 0;
  }

  .promo-picture {
    text-align: center;
    /* margin-right: 10px;
    margin-top: 10px; */
  }
  

  .promo-picture img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
  }
  
  .header {
    margin-top: -0px;
    width: 100%;
    margin-bottom: 60px;
  }
  /*================================================= 
    Contact Page
  =================================================*/
 
  
  form{
    width:460px;
    border: 5px double var(--accent-color-one);
    padding: 0px;
    margin-top: 15px;

  }
  

  input,
  textarea{
    font-size:16px;
    font-family: Montserrat,Verdana;
    margin: 0;
    width: 330px;
    margin-left: 55px;
    margin-top: 10px;
  }

  .button button{
    width: 200px;
    font-size: 16px;
  }
  /*================================================= 
    Footer
  =================================================*/

  footer {
    width: 480px;
    border-radius: 5px;
    margin-top: 30px;
  }

  .footer-links button {
    font-size: 11px;
    width: 100px;
    height: 30px;
    margin-left: 10px;
  }

  #trademark p,
  .number p {
    font-size: 10px;
    width: 50px;
  }
  .addres p {
    font-size: 8px;
    width: 70px;
  }
}
