body{
    background: rgb(167,78,0);
    background: linear-gradient(90deg, rgba(167,78,0,1) 0%, rgba(194,143,32,1) 35%, rgba(204,97,4,1) 100%);
    font-family: fantasy;
    font-size: 26px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

button {
    background-color: goldenrod;
    color: #454545;
    border: 1px solid goldenrod;
    border-radius:1.125rem;
}

.two p{
    display: none;
    visibility: hidden;
}
.three p{
    display: none;
    visibility: hidden;
}
.four p{
    /* display: none; */
    visibility: hidden;
}

button:hover {
    background-color: #003637;
    transition: .5s;
    border: 1px solid #003637;
    color: goldenrod;
}

button:active p{
    visibility: visible;
}